body {
  font-family:fantasy;
}

.sidebar {
  background-color:orange;
  float:right;
  height:475px;
  padding:10px;
  margin:10px;

  padding-left: 10px;
  border:5px solid red;
}

.intro {
  background-color: purple;
}

.intro img {

  float:left;
}

.bio {
  background-color: green;
}

.bio img {
  float:right;
}
img {
  width:350px;
  height:auto;
  padding: 10px;
  border:5px solid blue;
}
